body{
margin: 0;
padding: 0;
background-color: #D1D1D1;
cursor:pointer;
width: 100%;
text-align: center;
}

/* header open */
.navi{
width:100%;
background-color: #6FDFDF;
padding-bottom: 60px;
}


.logo{
  float: left;
  height: 60px;
}
.box-1{
float: right;
padding-top: 20px;
padding-right: 90px;
}

 .top-link{
   text-decoration: none;
   padding-left: 1rem;
   padding-right: 1rem;
   padding-bottom: 5px;
   padding-top: 60px;
  color:#251D3A;
  font-size: 0.8rem;
  text-shadow: 0 0 0.8em #c4fb6d, 0 0 0.6em #bac964;
  }

  .top-link:hover{
  color: #FAD9E6;
  }

  .cover-name{
    position:absolute;
    text-align: center;
    transform: translate(8%, -190%);
    font-size: 6rem;
  font-family: 'Water Brush', cursive;
    color: #fff;
    text-shadow: 0 0 0.9em #ffffff, 0 0 0.9em #B4FF9F;
    padding-top: 2.5rem;
    padding-left: 5rem;
  }

  .cover-image{
    width: 100%;
    height: 500px;
  }


  /* header close */

/* container-1 open */
section{
  margin: 0px;
  padding: 0px;
  background-color: #D1D1D1;
  width: 100%;
}

.container-1{
  width: 100%;
  padding-top: 100px;
  background-color: #D1D1D1;
  font-family:  'Kaushan+Script' ,cursive;
  color: #711A75;
  line-height: 2.5rem;

 }

 .container-1-name{
   font-size: 15px;

  }

 .about-image{
   float: right;
     width: 300px;
     height: 400px;
     padding-right:100px;
     padding-left: 50px;

  }
/* container-1 close */

/* container-2 open */
.container-2{
  width: 100%;
  background-color: #D1D1D1;
  padding-top: 100px;
  color: #711A75;
text-align: center;
line-height: 2.5rem;
font-family:  'Kaushan+Script' ,cursive;
font-size: 16px;

 }

.container-2-name{
  padding: 100px 40px 40px 40px;
  font-family:  'Kaushan+Script' ,cursive;
  font-size: 25px;
  color: #711A75;
 }

/* container-2 close */

/* container 3 opem */
.container-3{
  width: 100%;
  background-color: #D1D1D1;
  padding-top: 100px;
  padding-bottom: 50px;
  color: #711A75;
text-align: left;
line-height: 2.5rem;
font-family:  'Kaushan+Script' ,cursive;
font-size: 16px;

 }

.container-3-name{
  padding: 100px 40px 40px 40px;
  font-family:  'Kaushan+Script' ,cursive;
  font-size: 25px;
  color: #711A75;
  text-align: center;
 }
 .containt-3{
   padding-left: 50px;
  }

/* container-3 close */
/* footer  open */

.footer-background{
  background-color: #73777B;
  padding-bottom:250px;
  width: 100%;
}


.column-footer{
  text-align: center;
  width: 22%;
  float: left;
  margin: 11px;
}

.footer-list{
  list-style: none;
  padding: 0;
  line-height: normal;
}

.list-item{
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer-links{
  text-align: center;
  text-decoration: none;
  font-family: Montserrat;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 20px;
  line-height: 2;
  color: #ffffff;
}

.footer-links:hover{
  color:#251D3A;
  font-size: 0.8rem;
  text-shadow: 0 0 0.8em #c4fb6d, 0 0 0.6em #bac964;
}

h5{
  font-family: Montserrat;
  color:#251D3A;
  font-size: 0.8rem;
  text-shadow: 0 0 0.8em #c4fb6d, 0 0 0.6em #bac964;
}

.School-address{
  font-family: Montserrat;
  font-size: 13px;
  line-height: 2;
  color: #fff;
}

.School-phone{
  font-family: Montserrat;
  font-size: 14px;
  line-height: 2;
  color: #fff;
}

/* footer section close */

/* extra */
 .footer-2{
  background-color: #6FDFDF;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
 text-align: center;
  }
.copyright{
text-align:center;
font-size: 0.8rem;
padding-top: 10px;
color: #fff;
}

/* extra */
